.regularFocus {
  border: solid 1px #392e5c;
}
.regularFocus:focus {
  box-shadow: 0px 0px 6px -2px #7d5bbe;
  border-color: #7d5bbe;
}

.buttonClass {
  cursor: pointer;
  color: #9480be;
}
.buttonClass:hover {
  color: #ffffff;
}

#svgProfile {
  filter: invert(100%);
  /* top: 1px; */
  margin-top: 10px;
}